.nav-container{
  // margin-top: 10vh;
  background: white;
  margin: 0 40vh 0 40vh;
  // border : 1px red solid;
}
.post-container{
  // margin-top: 10vh;
  background: white;
  margin: 3vh 40vh 0 40vh;
  height: 75vh;
  // border : 1px red solid;
}